<div class="container d-flex justify-content-center text-light m-4">
  <div class="row">
    <div class="pantalla">
      <span class="bg-danger">{{ mostradorCentral }}</span>
    </div>
    <div class="bg-light">pantalla</div>

    <div class="row p-5">
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(1)"
      >
        1
      </button>
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(2)"
      >
        2
      </button>
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(3)"
      >
        3
      </button>
      <button class="col btn btn-primary m-1" (click)="sumar()">+</button>
    </div>

    <div class="row p-5">
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(4)"
      >
        4
      </button>
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(5)"
      >
        5
      </button>
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(6)"
      >
        6
      </button>
      <button
        class="col btn btn-primary m-1"
        (click)="multiplicacion()"
      >
        *
      </button>
    </div>
    <div class="row p-5">
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(7)"
      >
        7
      </button>
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(8)"
      >
        8
      </button>
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(9)"
      >
        9
      </button>
    </div>
    <div class="row p-5">
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(0)"
      >
        0
      </button>
      <button class="col btn btn-primary m-1" (click)="accionIgual()" >==</button>
      <button
        class="col btn btn-primary m-1"
        (click)="agregarPantallaPincipal(100)"
      >
        100
      </button>
    </div>
  </div>
</div>
